<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p class="bg-info text-center center-block h1"  id="describe">
        <%= current_user.first_name %> <%= current_user.last_name %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 center-block">
      <ul>
        <li class="list-inline bg-info text-center h3" id="describe"> Teams </li>
        <% current_user.teams.each do |team| %>
          <li class="list-inline bg-info text-center h4" id="describe">
              <%= link_to(team.team_name, team_path(team.id))%>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-6 center-block">
      <ul>
        <li class="list-inline bg-info text-center h3" id="describe"> Articles </li>
        <% Article.where(author: current_user).each do |article| %>
          <li class="list-inline bg-info text-center h4" id="describe">
              <%= link_to(article.title, article_path(article.id))%>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>