<div class="text-center bg-info">
<h1><%= current_user.first_name %> <%= current_user.last_name %></h1>
<h2>Teams:</h2>
  <ul id="list-frame">
    <% current_user.teams.each do |team| %>
      <li class="list-inline h4">
      <div id="team text-center"><%= link_to(team.team_name, team_path(team.id))%><</div></li>
    <% end %>
  </ul>
  <h2>Articles:</h2>
  <ul id="list-frame">
    <% current_user.articles.each do |article| %>
      <li class="list-inline h4">
      <div id="team"><%= link_to(article.title, article_path(article.id))%></div></li>
    <% end %>
  </ul>
</div>